{% extends "app/layout.html" %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/about.css' %}" />
{% endblock %}

{% block content %}
    <div class="about">
        <div class="about-first-part">
            <img src="{% static 'app/media/boo.png' %}" alt="БУ, испугался?" /><br />
            <span>
                <q>Силу, смелость и уверенность приобретают тогда, когда смотрят страху прямо в глаза.
                   Надо делать то, чего, казалось бы, вы сделать не сможете.</q><br />
                <strong><em>Элеонора Рузвельт</em></strong>
            </span>
        </div>
        <h1 class="about-title">Добро пожаловать в «Фобос» — интерактивный гид по миру страхов с элементами геймификации и самопомощи!</h1>
        <div class="about-second-part">
            <div>
                <p>
                    Что вас пугает? Пауки? Высота? Или, может быть, вы вздрагиваете от звука воздушных шариков (да, у этого тоже есть название — глобофобия)?
                    «Фобос» — это большой гид по всем человеческим страхам.
                    Здесь собрана коллекция человеческих страхов со всего мира: от банальных до безумных, от смешных до парализующих.
                </p>
                <p>
                    Этот проект родился из простой мысли: страх теряет власть, когда о нём говорят вслух.
                    Мы не собираемся вас лечить (мы не врачи), но мы хотим показать: вы не одни.
                    Тысячи людей боятся того же, а многие знаменитости умудряются жить с фобиями и добиваться успеха.
                </p>
                <p>
                    На сайте есть всё:
                    <ul>
                        <li>научные описания;</li>
                        <li>тесты;</li>
                        <li>истории читателей;</li>
                        <li>возможность записи к квалифицированным специалистам;</li>
                        <li>мерч для тех, кто готов посмеяться в лицо своим страхам.</li>
                    </ul>
                </p>
                <p>
                    «Фобос» — это место, где бояться не стыдно. Интересно. Щекотно. Иногда жутковато. Но всегда честно.
                    Заварите чай, завернитесь в плед и добро пожаловать в тёмную сторону человеческой души. Мы включили свет.
                </p>
            </div>
            <img src="{% static 'app/media/ghost.jpg' %}" alt="Очень страшное привидение" />
        </div>
    </div>
{% endblock %}
